<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAYA CAGADA!!!</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/blog.css">

</head>

<body>
    <h2 id="textos">¡VAYA KAGADA!</h2>
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </div>
    <hr>
    <div class="navbar">
        <div class="scrollable">
            <div class="frame">
                <img src="static/img/descarga1.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA REALISTA.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga2.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA ANIMADA.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga3.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA EN APARIENCIA.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga4.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA DEL ORGULLO (sin ofender...).</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga5.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA EN EMOJI.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga6.jpg" alt="Your Image">
                <div class="description">
                    <p>MIEDA DE JUEGO.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga7.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA DE BEBIDA.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga8.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA DE PELICULA.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga9.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA DE MEME.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga10.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA DE "MUSICA".</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga11.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA DE MARCA.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga12.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA DE TIEMPO/CLIMA.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga13.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA DE SECUELAS.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga14.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA EN FORMA HUMANA.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga15.jpg" alt="Your Image">
                <div class="description">
                    <p>SCARABEUS SACER.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga16.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA DE BICHO.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga17.jpg" alt="Your Image">
                <div class="description">
                    <p>COPROLITO (MIERDA FOSILIZADA).</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga18.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA DE COMPAÑIA.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga19.jpg" alt="Your Image">
                <div class="description">
                    <p>MIERDA PINCHADA EN UN PALO.</p>
                </div>
            </div>
            <div class="frame">
                <img src="static/img/descarga20.jpg" alt="Your Image">
                <div class="description">
                    <p>LA BUENA MIERDA.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h3>Post List</h3>
    {% block content %}
    {% endblock %}

</body>

</html>